body {
    padding-top: 100px;
}

.border-2{
    border-width: 3px !important;
}


/* change this if you want to change the margin of profile image */
.card-wrapper {
    margin: 5% 0;
  }
  
.custom-circle-image {
width: 20vw; 
height: 20vw;
border-radius: 50%;
}

.profile-circle-image {
    width: 8vw; 
    height: 8vw;
    border-radius: 50%;;
}
  
.custom-circle-image img {
object-fit: cover;
}

.circle-border-white{
    border:3px solid white; 
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.circle-border-primary{
    border:3px solid #007bff; 
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

