body {
    padding-top: 100px;
    background-color: white;
}

.border-2{
    border-width: 3px !important;
}

.jumbotron {
    padding: 1.2rem 1rem;
    padding-top: 1.2rem;
    padding-right: 1rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    background-color: #017bff;
    border-radius: .3rem;
}

.pointed:hover{
    background-color: rgba(0,0,0,0.05);
    transform: scale(1.025);
}

.row{
    margin-left: 0;
}

.maxHeight{
    height: 100%;
}

html{
    height: 100%;
}

.toBottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 3%;
}